{% extends 'base.html' %}
{% block content %}

<div style="overflow-x:auto;">
    <table class="table m-1 table-bordered" id="myTable">
        <thead class= "thead-dark" style="display:table-header-group">
            <tr>
              <td colspan="5">
                <a href="{% url 'order:create' %}" class="btn btn-primary btn-lg btn-block" >Charge: S/. {{ amount_cart }}</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">Product</th>
              <th class="text-center">Price</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Total</th>
              <th class="text-center">Acction</th>
            </tr> 
          </thead>
          <tbody>
            {% if request.session.cart.items %}
              {% for key, value in request.session.cart.items %}
                <tr class="text-center">
                  <td>{{ value.name }}</td>
                  <td>{{ value.price }}</td>
                  <td>{{ value.quantity }}</td>
                  <td>{{ value.total }}</td>
                  <td>
                    <a href="{% url 'cart:sum' value.product_id %}" class="btn btn-sm btn-success">+</a>
                    <a href="{% url 'cart:remove' value.product_id %}" class="btn btn-sm btn-danger">-</a></br>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="5">
                  <div class="alert alert-danger text-center">
                      Empty Cart
                  </div>
                </td>
              </tr>
            {% endif %}      
          </tbody>
    </table>

</div>

{% endblock  %}
