{% extends 'base.html' %}

{% block content %}

<!---->
{% load widget_tweaks %}

  <h2 style="text-align:center;">Add items to Order</h2>


  <form method="post">
    {% csrf_token %}
    
    <!-- {{ form.as_p }} -->
    <div class="form-group m-3">
      <label for="order" class="txt_negrita"><b>Order</b></label>
      {{ form.order|add_class:"form-control" }}
    </div>
    <div class="form-group m-3">
      <label for="product" class="txt_negrita"><b>Product</b></label>
      {{ form.product|add_class:"form-control" }} 
    </div>
    <div class="form-group m-3">
      <label for="quantity" class="txt_negrita"><b>Quantity</b></label>
      {{ form.quantity|add_class:"form-control" }}
    </div>
  <div class="col text-center">
  <button type="submit" class="btn btn-success m3">Save</button>
  <a href="{% url 'order:list' %}" type="submit" class="btn btn-danger">Cancel</a>
  </form>
  </div>  
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  {% endblock  %}