{% extends 'base.html' %}

{% block content %}

<!---->
{% load widget_tweaks %}

  <h2 style="text-align:center;">Add New Order</h2>


  <form method="post">
    {% csrf_token %}
    
    <!-- {{ form.as_p }} -->
    <div class="form-group m-3">
      <label for="owner" class="txt_negrita"><b>Name</b></label>
      {{ form.owner|add_class:"form-control" }}
    </div>
    <div class="form-group m-3">
      <label for="date" class="txt_negrita"><b>Date</b></label>
      {{ form.date|add_class:"form-control" }} 
    </div>
    <div class="form-group m-3">
      <label for="status" class="txt_negrita"><b>Status</b></label>
      {{ form.status|add_class:"form-control" }}
    </div>
    <div class="form-group m-3">
      <label for="pay_method" class="txt_negrita"><b>Pay Method</b></label>
      {{ form.pay_method|add_class:"form-control" }}
    </div>
    <div class="form-group m-3">
      <label for="bank" class="txt_negrita"><b>Bank</b></label>
      {{ form.bank|add_class:"form-control" }}
    </div>
  <div class="col text-center">
  <button type="submit" class="btn btn-success m3">Save</button>
  <a href="{% url 'order:list' %}" type="submit" class="btn btn-danger">Cancel</a>
  </form>
  </div>  
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  {% endblock  %}