{% extends 'base.html' %}
{% block content %}
  <!--Create Button-->
  <div align="left" class="btn_crear mb-1 ml-1 mr-1">
    <a href="{% url 'order:orderitem' %}" type="button" class="btn btn-primary btn-lg btn-block">Create New order</a>
  </div>
<!---->
<!---->
<div style="overflow-x:auto;">
  <table class="table ml-1 table-bordered" id="myTable">
    <thead class= "thead-dark" style="display:table-header-group">
      <tr>
        <th>Owner</th>
        <th>Date</th>
        <th>Status</th>
        <th>Pay Method</th>
        <th>Bank</th>
        <th>Total Pay</th>
        <th>Register Day</th>
        <th>Acctions</th>
      </tr>
    </thead>
    <tbody>
    
    <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'orders' y los listamos -->
    {% for order in object_list %}
      <tr>
        <td>{{ order.owner }}</td>
        <td>{{ order.date }}</td>
        <td>{{ order.get_status_display }}</td>
        <td>{{ order.get_pay_method_display }}</td>
        <td>{{ order.get_bank_display }}</td>
        <td>{{ order.total_pay }}</td>
        <td>{{ order.register_date }}</td>
        <td>                    
            {% csrf_token %}
            <div class="btn-group">

              <a href="edit/{{order.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
              
              <button class="btn btn-danger" onclick="return deleteorder({{order.id}});" type="submit">
                Eliminar
              </button>
              <form action="delete/{{order.id}}" method="POST" id="myForm">{% csrf_token %}</form>

            </div>
        </td>
      </tr>
    {% endfor %}
   
    </tbody>
  </table>
</div>
<script>
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tbody tr").filter(function() {
        $(this).toggle($(this).find("td:first").text().toLowerCase().indexOf(value) > -1)
      });
    });
</script>
<script type="text/javascript">
  function deleteorder(id) {
    Swal.fire({
      "title": "Are you sure?",
      "text": "This action can not be undone",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, cancel",
      "confirmButtonText": "Yes, delete",
      "confirmButtonColor": "#dc3545"
    }).then(resultado => {
      if (resultado.value) {
        document.querySelector('#myForm').submit();
      }else{
        window.location.href="./";
      }
    })
  }
</script>

{% endblock  %}

