{% extends 'base.html' %}
{% load static %}
{% block title %}Route{% endblock  %}
{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    {% load widget_tweaks %}
    <div>
      <label id='otro'>
        Select date:
        <input type="date" name="party" min="2000-01-01" max="2025-04-20" id="date"required>
        <span class="validity"></span>
      </label>
    </div>
    <button type="submit" class="btn btn-primary m3">Generate</button>
    <button type="submit" class="btn btn-info m3">Print</button>
  </form>
  
  <div class="table-responsive">
    <table class="table" id="myTable">
      <thead>
        <th>Name</th>
        <th>Direction</th>
        <th>Distric</th>
        <th>Reference</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Total</th>
      </thead>
      <tbody>
        {% for key, values in data.items %}
        <tr>
          <td>{{values.name }}</td>
          <td>{{values.direction }}</td>
          <td>{{values.distric}}</td>
          <td>{{values.referencia}}</td>
          <td>{{values.phone}}</td>
          <td>{{values.status}}</td>
          <td>{{values.total}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock  %}