{% extends 'base.html' %}
{% block content %}

{% load widget_tweaks %}
<div class="container">
  <div class="pb-3 h1">Checkout Order</div>
  <div class="container">


    <form method="post">
      {% csrf_token %}

      <!-- {{ form.as_p }} -->
      <div class="form-group m-3">
        <label for="name" class="txt_negrita"><b>Customer</b></label>
        {{ form.customer|add_class:"form-control" }}
      </div>
      <div class="form-group m-3">
        <label for="price" class="txt_negrita"><b>Date</b></label>
        {{ form.date|add_class:"form-control" }}
      </div>
      <div class="form-group m-3">
        <label for="unity" class="txt_negrita"><b>Pay Method</b></label>
        {{ form.pay_method|add_class:"form-control" }}
      </div>
      <div class="form-group m-3">
        <label for="type" class="txt_negrita"><b>Bank</b></label>
        {{ form.bank|add_class:"form-control" }}
      </div>
      <div class="form-group m-3">
        <label for="description" class="txt_negrita"><b>Total Pay</b></label>
        {{ form.total_pay|add_class:"form-control" }}
      </div>
      <div class="form-group m-3">
        <label for="type" class="txt_negrita"><b>Cancelado</b></label>
          {{ form.status|add_class:"form-checkbox"}}
      </div>
      <div class="col text-center">
        <button type="submit" class="btn btn-success m3">Save</button>
        <a href="{% url 'customer:list' %}" type="submit" class="btn btn-danger">Cancel</a>
    </form>
  </div>
</div>

{% endblock %}