{% extends 'base.html' %}
{% load static %}
{% block title %}All Orders{% endblock  %}
{% block content %}

<div class="container">
  <div class="pb-3 h1">All Orders</div>
  <div class="container">
    <div class="row">
      <form class="m-2">
        <input class="form-control" type="search" placeholder="Search" id="myInput">
      </form>
    </div>
    <!---->
    <div class="row">
      <form class="m-2">
        <input class="form-control" type="Date" placeholder="Search" id="myInput2">
      </form>
    </div>
    
    
    <!---->
    <div class="table-responsive">
      <table class="table" id="myTable">
        <thead>
          <th>Print</th>
          <th>Customer</th>
          <th>Date</th>
          <th>Pay Method</th>
          <th>Bank</th>
          <th>Total Pay</th>
          <th>Action</th>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>
              <a href="#" type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                  <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                  <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                </svg>
              </a>
            </td>
            <td>{{order.customer}}</td>
            <td>{{order.date | date:"d/m/Y"}}</td>
            <td>{{order.pay_method}}</td>
            <td>{{order.bank}}</td>
            <td>{{order.total_pay}}</td>
            <td>
              {% csrf_token %}
              <div class="btn-group">

                <a href="{% url 'order:update' order.pk %}" title="Edit" type="button" class="btn btn-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil" viewBox="0 0 16 16">
                    <path
                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                  </svg>
                </a>

                <button class="btn btn-danger" onclick="deleteCustomer({{order.id}});" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-x-square" viewBox="0 0 16 16">
                    <path
                      d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                  </svg>
                </button>
                <form action="{% url 'order:delete' order.id %}" method="POST" id="myForm">{% csrf_token %}
                </form>

              </div>
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  <script>
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tbody tr").filter(function () {
        $(this).toggle($(this).find("td:eq(2)").text().toLowerCase().indexOf(value) > -1)
      });
    });
  </script>
  <script type="text/javascript">
    function deleteCustomer(id) {
      Swal.fire({
        "title": "Are you sure?",
        "text": "This action can not be undone",
        "icon": "question",
        "showCancelButton": true,
        "cancelButtonText": "No, cancel",
        "confirmButtonText": "Yes, delete",
        "confirmButtonColor": "#dc3545"
      }).then(resultado => {
        if (resultado.value) {
          document.querySelector('#myForm').submit();
        } else {
          window.location.href = "./";
        }
      })
    }
  </script>
  <script>
    $("#myInput2").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tbody tr").filter(function () {
        $(this).toggle($(this).find("td:eq(2)").text().toLowerCase().indexOf(value) > -1)
      });
    });
  </script>


  {% endblock  %}